---
---

@import "{{site.theme}}";

.imgLeft {
float:left;
margin-right:10px;
margin-bottom:10px;
width:1000%;
vertical-align:top;
;
}

.imgLeft2 {
float:left;
margin-right:10px;
margin-bottom:10px;
width:200%;
vertical-align:top;
border:1px solid red;
}

h1{
  color:crimson ;
  align: center;
	
	

}
.page-header {
	color: pink;
	text-align: center;  
	background-color: olive

	
}

body{
	background-color: peachpuff
}

.btn2 {
  border-radius: 4px;
  background-color:rgb(216, 204, 73);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: auto;
  cursor: pointer;
  margin: 5px;
}


iframe {
  width: 850px;
  height: 350px;
}
