---
---

@import "{{site.theme}}";

.imgLeft {
float:left;
margin-right:10px;
margin-bottom:10px;
width:70%;
vertical-align:top;
;
}

.imgLeft2 {
float:left;
margin-right:10px;
margin-bottom:10px;
width:200%;
vertical-align:top;
border:1px solid red;
}

h1{
  color:magenta ;
  align: center;
	
	

}
.page-header {
	color: yellow;
	text-align: center;  
	background-color: green;
	background-image: url(https://media.giphy.com/media/MuJZbKbHppXc4/giphy.gif); background-size:100% 100%
	
}

body{
	background-image: url(https://previews.123rf.com/images/nnnnae/nnnnae1507/nnnnae150700709/42919359-sweet-and-simple-pink-heart-seamless-pattern-endless-texture-can-be-used-for-wallpaper-pattern-fills.jpg);background-size:100% 100%
}

.btn2 {
  border-radius: 4px;
  background-color:rgb(216, 204, 73);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: auto;
  cursor: pointer;
  margin: 5px;
}


iframe {
  width: 850px;
  height: 350px;
}
